@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  background-image: url('./assets/images/4k-space-wallpaper-6.jpg');
  background-size: cover;
}

.login-card {
  border: 1px silver solid;
  border-radius: 17px;
  background-color: rgba(250, 250, 250, 0.7);
  width: 28%;
  min-height: 18rem;
}

.icon-container {
  border: 1px silver solid;
  line-height: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  width: 2.7rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.form-input {
  border-bottom: 1px solid black;
  border-radius: 3px;
}

.image-container {
 background-color: white;
}

img[alt="logo camera"] {
  margin: auto;
  cursor: pointer;
}